# Ignore virtual environment
env/
venv/
.env/

# Ignore system files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db

# Ignore logs
logs/
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore dependency files
pip-log.txt
pip-delete-this-directory.txt

# Ignore Streamlit cache
.streamlit/
